<div class="header">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="d-flex">
            <input class="form-control me-2" type="search" placeholder="ID ou Nome do Pokemon" aria-label="Pesquisar" #inputPokemon>
            <button class="btn btn-outline-primary" type="button" (click)="buscaParcial(inputPokemon.value)">Buscar</button>
        </div>
      </div>
    </div>
  </div>

<div class="list" *ngIf="pokemons.length > 0">

    <div class="card-list" *ngFor="let pokemon of pokemons.sort(ordenarPokemons)" (click)="viewCard(pokemon)">
        <div class="cad-list-id">
            <span class="id">
                {{ pokemon.id }}
            </span>
        </div>
        <img src="{{ pokemon.image }}" alt="Imagem {{ pokemon.nome }} ">
        <div class="card-list-info">
            <span class="name">{{ pokemon.nome }}</span>
            <div class="list-tipo">
                <span class="tipo {{ tipo }}" *ngFor="let tipo of pokemon.tipo"> <fa-icon [icon]="icons[tipo]"></fa-icon> {{ tipo }}</span>
            </div>       
        </div>
    </div> 

</div>

<div class="footerPag">
    <button *ngIf="previous" (click)="previousPag()" class="btn btn-primary"> Página Anterior</button>
    <button *ngIf="next" (click)="nextPag()" class="btn btn-primary"> Próxima Página</button>
</div>

<div class="card-pokemon" *ngIf="pokemonDestaque">
    <div class="card-size">
        <app-card-pokemon [pokemon]="pokemonDestaque"></app-card-pokemon>
        <button class="btn btn-danger bt-close" (click)="closeCard()">X</button>
    </div>
</div>
